<div class="left-sticky-panel">
  <div class="logo-wrapper">
    <img src="doctolib.png" alt="Logo" />
  </div>
  <div class="sticky-buttons">
    <a href="https://www.doctolib.de/zahnmedizin/meerbusch/paschalis-papanikolaou/booking/new-patient?specialityId=1285&bookingFunnelSource=profile" target="_blank" rel="noopener noreferrer" class="sticky-btn">Termin</a>
    <a href="https://www.doctolib.de/zahnmedizin/meerbusch/paschalis-papanikolaou" target="_blank" rel="noopener noreferrer" class="sticky-btn">Info</a>
  </div>
</div>