@use '../../../variables.scss' as *;

.navbar {
  color: #000000e1;
  position: sticky;
  top: 0;
  margin: 0 auto;
  z-index: 1000;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1.5rem;
  font-family: 'Inter', sans-serif;
  transition: 
  width 0.3s ease,
  padding 0.3s ease; // Falls du auch padding änderst

  &.shrink {
    border-bottom: 1px solid #e0e0e0;

    .logo img {
      width: 40px;
    }
 
    ul {
      li a {
        font-size: 0.96rem;
      }
    }
  }

  .logo {
    font-weight: bold;
    font-size: 1.25rem;

    img {
      width: 50px;
      transition: width 0.3s ease;
    }
  }

  .burger {
    display: none;
    flex-direction: column;
    cursor: pointer;

    span {
      height: 3px;
      width: 25px;
      background: #333;
      margin: 4px 0;
      border-radius: 2px;
      transition: 0.3s ease;
    }
  }

  ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;

    li a {
      text-decoration: none;
      color: #000000e1;
      font-weight: 200;
      font-size: 1rem;

      &.active {
        font-weight: 300;
        border-bottom: 2px solid #000000c4;
      }

      &:hover {
        color: #000000c4;
      }
    }

    &.open {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 70px;
      right: 21px;
      right: 2rem;
      background-color: #ffffff;
      padding: 2rem;
      z-index: 999;
    }
  }

  .nav-button {
    padding: 8px 16px;
    background-color: #000000e1;
    color: white !important;
    text-decoration: none;
    transition: background-color 0.3s ease;
    white-space: nowrap;
  } 

  .nav-button:hover {
    background-color: #000000c4;
  }

  @media (max-width: 768px) {
    .burger {
      display: flex;
    }

    ul {
      display: none;
    }
  }
}


  