  <header class="navbar" [class.shrink]="scrolled">
  <div class="logo">
    <img src="logo2.gif" alt="Logo" />
  </div>

  <div class="burger" (click)="toggleMobileMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <ul [class.open]="mobileMenuOpen">
    <li><a routerLink="/start" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Start</a></li>
    <li><a routerLink="/leistungen" routerLinkActive="active">Leistungen</a></li>
    <li><a routerLink="/team" routerLinkActive="active">Team</a></li>
    <li><a routerLink="/praxis" routerLinkActive="active">Praxis</a></li>
    <li><a routerLink="/jobs" routerLinkActive="active">Jobs</a></li>
    <li><a routerLink="/kontakt" routerLinkActive="active">Kontakt</a></li>
    <li><a class="nav-button" href="https://www.doctolib.de/zahnmedizin/meerbusch/paschalis-papanikolaou/booking/new-patient?specialityId=1285&bookingFunnelSource=profile" target="_blank" rel="noopener noreferrer">Termin buchen</a></li>
  </ul>
</header>