.quote-container {
  max-width: 800px;
  margin-left: 50px;
  padding: 1.5rem 2rem;
  border-left: 6px solid var(--p-card-color);
  border-radius: 10px;
  position: relative;
}

.quote-text {
  font-size: 1.25rem;
  color: var(--p-card-color);
  margin: 0 0 1rem 0;
  position: relative;
  padding-left: 1rem;

  &::before {
    content: "“";
    font-size: 3rem;
    position: absolute;
    left: -15px;
    top: -10px;
    color: var(--p-card-color);
    font-family: serif;
  }
}

.quote-author {
  text-align: right;
  font-weight: 500;
  color: var(--p-card-color);
  font-size: 1rem;
  font-style: normal;
  margin: 0;
}

@media (max-width: 600px) {
  .quote-text {
    color: white; /* Neue Farbe auf Mobile */

    &::before { 
        color: white;
    }
  }

  .quote-container {
    border-left: 6px solid white;
  }

  .quote-container,
  .quote-author {
    color: white;
  }
}
