.quote-container {
  max-width: 800px;
  margin-left: 50px;
  padding: 1.5rem 2rem;
  border-left: 6px solid #334155 !important;
  border-radius: 10px;
  position: relative;
}

.quote-text {
  font-size: 1.25rem;
  color: #334155 !important;
  margin: 0 0 1rem 0;
  position: relative;
  padding-left: 1rem;

  &::before {
    content: "“";
    font-size: 3rem;
    position: absolute;
    left: -15px;
    top: -10px;
    color: #334155 !important;
    font-family: serif;
  }
}

.quote-author {
  text-align: right;
  font-weight: 500;
  color: #334155 !important;
  font-size: 1rem;
  font-style: normal;
  margin: 0;
}
