<!-- Diese Ansicht bleibt immer sichtbar (Startseite) -->
<app-navbar></app-navbar>
<ng-container *ngIf="!isImpressumRoute">
  <div class="wrapper">
    <section id="start" class="section"><app-home></app-home></section>
    <section id="services" class="section">
      <h1 class="headline">Leistungen</h1>
      <app-services></app-services>
    </section>
  </div>

  <app-footer></app-footer>
</ng-container>

<!-- Router-Outlet zeigt z. B. Impressum -->
<router-outlet *ngIf="isImpressumRoute"></router-outlet>

