// Farben
$color-background: #ffffff;
$color-text: #333333;
$color-text-light: #999999;
$color-primary: #4a4a9d; // Beispiel für Buttons, Akzente etc.
$color-hover: #e2e2ee;
$color-active: #d4d4e6;

// Schrift
$font-family-base: 'Inter', sans-serif;

// Größen
$font-size-heading: 3rem;
$font-size-subheading: 2rem;
$font-size-body: 1rem;

// Spacing
$section-padding: 3rem 1rem;
